[alias]
	tower           = "! /bin/sh $HOME/.gitscripts/tower.sh"
	towerlog        = "! /bin/sh $HOME/.gitscripts/towerlog.sh"

	co              = checkout
	clear           = clean -df

	s               = status

	c               = commit --verbose # Commit with verbose messaging in editor.
	ci              = c
	cia             = commit -a --verbose # Commit add all with verbose messaging in editor.
	cp              = "! git commit -am 'Commit changes.' && git p"

	g               = gui
	gui             = tower

	l               = blog # Normal log, but looks better.
	gl              = glog # Graphical UI log.
	glog            = towerlog # Graphical log.
	blog            = log --oneline --decorate --graph # Better log, looks better in CLI.

	r               = rhh
	rc              = rhhc
	rhh             = reset --hard HEAD # Reset easily.
	rhhc            = "! git rhh && git clear" # Reset and remove new files.

	p               = "! git push -u origin \"$(git rev-parse --abbrev-ref HEAD)\""
	pom             = push origin master

[push]
	default = current

[user]
	name = Aubrey Portwood
	email = code@aubreypwd.com

[core]
	editor = subl -n -w # Write my commits using sublime.
	excludesfile = /Users/aubreypwd/.gitignore

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	pager = true

[credential]
	helper = osxkeychain

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[color "status"]
	added = green
	changed = red bold
	untracked = magenta bold

[color "branch"]
	remote = yellow

[gui]
	tabsize = 2

[diff]
	noprefix = true

[pager]
	diff = false
	show = false

[mergetool "smerge"] # Sublime Merge as mergetool
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true

[merge]
	tool = smerge

[mergetool]
	keepBackup = false

[pull]
	rebase = false
