[alias]
	smergelog       = "! smerge -n search 'after:\"1960-01-01\"'"
	smergegui       = "! smerge -n ./"

	co              = checkout
	clear           = clean -df
	s               = status

	ci              = commit --verbose # Commit
	cim             = commit -m --verbose # Commit with message with verbose info.
	cia             = commit -a --verbose # Commit add all.
	ciam            = commit -am --verbose # Commit, add all, with message, with verbose info.

	tower           = "! /bin/sh $HOME/.gitscripts/tower.sh"
	towerlog        = "! /bin/sh $HOME/.gitscripts/towerlog.sh"

	gui             = tower
	gi              = gui

	glog            = towerlog # Graphical log.
	blog            = log --oneline --decorate --graph # Better log.

	startover       = "! git reset --hard head && git clear" # Reset and clear.
	rhh             = reset --hard HEAD
	rso             = "! git rhh && git startover"

	p               = "! git push -u origin \"$(git rev-parse --abbrev-ref HEAD)\""
	pom             = push origin master

[push]
	default = current

[user]
	name = Aubrey Portwood
	email = code@aubreypwd.com

[core]
	editor = subl -w # Write my commits using sublime.
	excludesfile = /Users/aubreypwd/.gitignore

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	pager = true

[credential]
	helper = osxkeychain

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[color "status"]
	added = green
	changed = red bold
	untracked = magenta bold

[color "branch"]
	remote = yellow

[gui]
	tabsize = 2

[diff]
	noprefix = true

[pager]
	diff = false
	show = false

[mergetool "smerge"] # Sublime Merge as mergetool
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true

[merge]
	tool = smerge

[mergetool]
	keepBackup = false

[pull]
	rebase = false
